@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Course>

@{
    var count = 1;
}

<table>
    <thead>
        <tr>
            <th>Sıra</th>
            <th>ID</th>
            <th>Name</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(count++)</td>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a asp-controller="Course" asp-action="Details" asp-route-id="@item.Id">Detay</a>
                </td>
            </tr>
        }
    </tbody>
</table>
