@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Web1.Models.Car>


@{
}


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Name</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>@item.Brand</td>
                <td>@item.Name</td>
                <td>
                    <a href="@Url.Action("Detail","Car",new{id=item.Id})">
                        Detay
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>