<html>
    <head>
    </head>
    <body>
        <h1>benim şablonum</h1>
        <p>burada benim şablonumun içeriği gözükecek</p>
        <div>
            @RenderBody()
        </div>
        <p>şablonun sonu</p>
    </body>
</html>
